{% extends "base.html" %}
{% block title %}{{ event }} photos{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/styles.css') }}" media="screen" />
{% endblock %}
{% block main %}
    {{ super() }}
    {% for image in images %}
        <!--<button class="image-button" onclick="showImage('images/DSC_4719.jpg')">-->
        <button class="image-button">
            <img class="media" src="{{ url_for('static', filename = 'images/' + event + '/small/' + image) }}" alt=image />
        </button>
    {% endfor %}
{% endblock %}
